<h2>Latest posts:</h2>

<% @result.each do |post| %>
    <div class="card mt-4">
        <div class="card-body">
            <h5 class="card-title"><%= post['title'] %></h5>
            <h6 class="card-subtitle mb-3 text-muted">Added at <%= post['created_date'] %></h6>
            <p class="card-text"><%= post['post'] %></p>
        </div>
    </div>
<% end %>