<h2>Auth</h2>

<form action="/login" method="POST">
    <div class="form-group">
        <label>You login name</label>
        <input type="text" class="form-control" name="login" placeholder="Typed login mane">
    </div>

    <button type="submit" class="btn btn-primary">Login</button>
</form>